/* Overall page styles */
body {
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Styles for the main component */
.ai-image-generator {
  text-align: center;
  margin: 20px auto;
  color: #ffffff;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

/* Styles for the header */
.header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffcc00;
}

.header span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styles for the image loading section */
.img-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Styles for the image container */
.image {
  width: 500px;
  height: 500px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for the search box */
.search-box {
  display: flex;
  align-items: center;
  background-color: #32343c;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Styles for the generate button */
.generate-btn {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}

.generate-btn:hover {
  border: 2px solid white;
}

/* Styles for the input field in search box */
.search-box input {
  border: none;
  width: 500px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background-color: #32343c;
  color: #a0a0a0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

/* Styles for the loading bar container */
.loading-bar-container {
  width: 100%;
  height: 8px;
  background-color: #555555;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

/* Styles for the loading bar itself */
.loading-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

/* Styles for the loading text */
.loading-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 14px;
}

/* Styles to hide elements */
.display-none {
  display: none;
}

/* Style for the text displayed after image is loaded */
.loaded-image-text {
  font-size: 18px;
  color: #007bff;
  margin-top: 10px;
}
